<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="Canonical HTTPS non-www" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^moneyrun\.tech$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="https://moneyrun.tech/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="Index HTML to root" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <action type="Redirect" url="/" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="HTML pages to clean URLs" stopProcessing="true">
          <match url="^(guide|privacypolicy|remove_account)\.html$" ignoreCase="true" />
          <action type="Redirect" url="/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="Guide trailing slash to clean URL" stopProcessing="true">
          <match url="^guide/$" ignoreCase="true" />
          <action type="Redirect" url="/guide" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="Privacy policy trailing slash to clean URL" stopProcessing="true">
          <match url="^privacypolicy/$" ignoreCase="true" />
          <action type="Redirect" url="/privacypolicy" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="Remove account trailing slash to clean URL" stopProcessing="true">
          <match url="^remove_account/$" ignoreCase="true" />
          <action type="Redirect" url="/remove_account" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="Guide clean URL" stopProcessing="true">
          <match url="^guide/?$" ignoreCase="true" />
          <action type="Rewrite" url="guide.html" />
        </rule>

        <rule name="Privacy policy clean URL" stopProcessing="true">
          <match url="^privacypolicy/?$" ignoreCase="true" />
          <action type="Rewrite" url="privacypolicy.html" />
        </rule>

        <rule name="Remove account clean URL" stopProcessing="true">
          <match url="^remove_account/?$" ignoreCase="true" />
          <action type="Rewrite" url="remove_account.html" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="File">
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" responseMode="File" />
    </httpErrors>

    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
